body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:50px
}

.column{
    border: 1px solid black;
    width: 35px;
    height: 35px;
}

#container{
    display: flex;
}

#set-button {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#set-button:active {
    background-color: rgba(77, 77, 77, 0.5)
}