body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:50px
}

.column{
    border: 1px solid black;
}

.row, .column
{
    display: flex;
    flex: 1;
}

#container{
    display: flex;
    height: 960px;
    width: 960px;
    flex-direction: column;    
}

#set-button {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
}

#set-button:active {
    background-color: rgba(77, 77, 77, 0.5)
}